<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <link rel="stylesheet" href="/resurse/css/despre.css">
    </head>
    <body>
        <header> 
            <%- include("../fragmente/header.ejs") %>
        </header>
        <main>
            <h1 class="heading-1">Istoricul Silky Glow</h1>
            <p><b>Silky Glow</b> este o afacere nascuta in anul 2000, avand ca motivatie principala dorinta de a le oferi romancelor o gama de produse de skincare sigure si de incredere. In toti acesti ani am invatat ca dedicarea fata de client este un element cheie pentru succesul oricarei afaceri aflate la inceput de drum. Astfel, ne-am apropiat de clientele nostre si am incercat sa le intelegem nevoile, oferindu-le prin produsele noastre o alternativa naturala pentru ingrijirea tenului.</p>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs") %>
        </footer>
    </body>
</html>
