<h1 id="print-titlu">
    Silky Glow
</h1>
<div id="print-watermark">
    Ruxandra<br>Zamfir
</div>
<div id="print-banner">
    Acesta este un proiect scolar!
</div>
<div class="image"></div>
 <!-- 5 - sistem navigare -->
<div id="bara-meniu">
<label id="hamburger" for="ch-menu">
    <img src="/resurse/imagini/diverse/Hamburger_icon.png" alt="menu">
</label>
<input id="ch-menu" type="checkbox">
<nav id="nav-bar">
    <ul class="meniu">
        <li><a href="/index"><span class="li-text"><span id="icon-acasa"><i class="fa-solid fa-house"></i></span> <span id="text-acasa">Acasa</span></span></a>
            <ul>
                <li><a href="#despre">Cine suntem?</a></li>
                <li><a href="#favorite">Favoritele clientilor</a></li>
                <li><a href="#skincare">Rutina de skincare</a></li>
            </ul>
        </li>
        <li><a href="/despre"><span class="li-text">Despre noi</span></a></li>
        <li><a href="#"><span class="li-text">Produse</span></a>
            <ul>
                <li><a href="#">Categorii</a></li>
                <li><a href="#">Branduri</a></li>
                <li><a href="#">Noi</a></li>
                <li><a href="#">Cele mai vandute</a></li>
            </ul>
        </li>
        <li><a href="/galerie"><span class="li-text">Galerie</span></a></li>
    </ul>
</nav>