<!-- 2 - titlu + meta -->
<title>Silky Glow</title>
<meta charset="utf-8">
<meta name="keywords" content="calitate superioara, natural, produse scent-free, skincare, marca proprie, Silky Glow">
<meta name="description" content="Produse skincare de calitate superioara, marca proprie. Oferim produse pentru ingrijirea tenului, avand ingrediente sigure si utilizand doar formule naturale.">
<meta name="author" content="Zamfir Miruna Ruxandra">
<link rel="apple-touch-icon" sizes="180x180" href="/resurse/ico/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/resurse/ico/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/resurse/ico/favicon-16x16.png">
<link rel="manifest" href="/resurse/ico/site.webmanifest">
<link rel="mask-icon" href="/resurse/ico/safari-pinned-tab.svg" color="#5bbad5">
<link rel="shortcut icon" href="/resurse/ico/favicon.ico">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/resurse/ico/browserconfig.xml">
<meta name="theme-color" content="#ffffff">

<script src="https://kit.fontawesome.com/ee8fda1a40.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">

<link rel="stylesheet" href="/resurse/css/sass-compilat/customizare.css">

<link rel="stylesheet" href="/resurse/css/sass-compilat/nav-mare.css">
<link rel="stylesheet" href="/resurse/css/sass-compilat/nav-mediu.css" media="screen and (max-width:1000px)">
<link rel="stylesheet" href="/resurse/css/sass-compilat/nav-mic.css" media="screen and (max-width:700px)">

<link rel="stylesheet" href="/resurse/css/variabile.css">
<link rel="stylesheet" href="/resurse/css/layout/layout_mare.css">
<link rel="stylesheet" href="/resurse/css/layout/layout_mediu.css" media="screen and (max-width:1000px)">
<link rel="stylesheet" href="/resurse/css/layout/layout_mic.css" media="screen and (max-width:700px)">

<link rel="stylesheet" href="/resurse/css/printare.css" media="print">
<link rel="stylesheet" href="/resurse/css/sass-compilat/galerie.css">