<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
        <link rel="stylesheet" href="/resurse/css/despre.css">
    </head>
    <body>
        <header> 
            <%- include("../fragmente/header.ejs") %>
        </header>
        <main>
            <div class="text">Istoricul nostru<div class="text-reflectat">Istoricul nostru</div></div>
            <p id="descriere"><b>Silky Glow</b> este o afacere nascuta <b>in anul 2000</b>, avand ca motivatie principala dorinta de a le oferi romancelor o gama de produse de skincare sigure si de incredere. In toti acesti ani am invatat ca dedicarea fata de client este un element cheie pentru succesul oricarei afaceri aflate la inceput de drum. Astfel, ne-am apropiat de clientele nostre si am incercat sa le intelegem nevoile, oferindu-le prin produsele noastre o <b>alternativa naturala</b> pentru ingrijirea tenului. Produsele oferite de noi au fost recunoascute inclusiv la nivel mondial pentru ingredientele sigure si naturale din componenta lor, reusind <b>in anul 2017</b> sa ne lanseam inclusiv pe piata internationala. In prezent, produsele noastre de skincare sunt cautate de milioane de femei din intreaga lume si pentru asta <b>va multumim!</b></p>
            <p id="text-animat">Silky Glow - For the love of beauty</p>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs") %>
        </footer>
    </body>
</html>
