<!DOCTYPE html>
<html lang="ro">
    <head>
        <%- include("../fragmente/head.ejs") %>
    </head>
    <body>
        <header> 
            <%- include("../fragmente/header.ejs") %>
        </header>
        <main>
            <div id="galerie">
                <%- include("../fragmente/galerie-statica.ejs") %>
            </div>
        </main>
        <footer>
            <%- include("../fragmente/footer.ejs") %>
        </footer>
    </body>
</html>