<div id="contact">
    <h2><i class="fa-solid fa-location-dot fa-bounce"></i> Informatii de contact</h2>
    <!-- 13 - footer -->
    <address>
        <ul>
            <li><i class="fa-solid fa-phone"></i> <a href="tel:+40712345678"><span>+40 712 345 678</span></a></li>
            <li><i class="fa-solid fa-envelope"></i> <a href="mailto:silky_glow@yahoo.com"><span>silky_glow@yahoo.com</span></a></li>
            <li><i class="fa-solid fa-map"></i> <a target="_blank" href="https://goo.gl/maps/f3RKfw9RpAegNAWUA"><span>Str. Academiei nr.14, 010014 Bucuresti</span></a></li>
            <li><a target="_blank" href="https://wa.me/+40712345678"><i class="fa-brands fa-square-whatsapp"></i></a> <a target="_blank" href="https://www.facebook.com/profile.php?id=100090580952446"><i class="fa-brands fa-square-facebook"></i></a></li>
            <!-- 11 - link extern - facebook -->
        </ul>
    </address>
</div>
<!-- 11 - link inceputul paginii -->
<a href="#"><div id="link-top" title="Inapoi sus"><div id="sageata"></div></div></a>
<br>
<!-- 14 - copyright -->
<small>Copyright &copy; Silky Glow <time datetime="2023-03-6 10:02:33">6 Martie 2023</time></small>